<nav class="navbar navbar-expand-lg  bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <img width="110" src="pngwing.com.png" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @for(item of navList;track $index){
        <li class="nav-item">
          <a class="nav-link" aria-current="page">{{item}}</a>
        </li>
        }
      </ul>
      <ul class="navbar-nav me-0 mb-2 mb-lg-0">
        <li class="nav-item d-flex">
          <a class="nav-link text-light" aria-current="page">Welcome <strong>{{fullName}}</strong></a>
          <img class="rounded-circle me-3" width="39" height="39" [src]="userImage" alt="">
        </li>
      </ul>
      <form class="d-flex" role="search">
        <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
        <button class="btn btn-outline-danger" (click)="emitEvent()" type="submit">Log Out</button>
      </form>
    </div>
  </div>
</nav>